@model theSouthtown.Models.User
@{
    ViewBag.Title = "ChangePassword";
}

<div class="span-24 last"><div class="module">
  <div class="moduleHeader">
    <h3>
          
    </h3>
    <div class="moduleAdd">
          
		</div>
  </div>
    @using (Html.BeginForm()) {
  <div class="moduleContent">
    <p>
        Use the form below to change your password. 
    </p>
    @Html.ValidationSummary("Password change was unsuccessful. Please correct the errors and try again.")

    <fieldset>
        <p>
            <label for="currentPassword">Current password:</label><br />
            @Html.Password("currentPassword")
            @Html.ValidationMessage("currentPassword")
        </p>
        <p>
            <label for="newPassword">New password:</label><br />
            @Html.Password("newPassword")
            @Html.ValidationMessage("newPassword")
        </p>
        <p>
            <label for="confirmPassword">Confirm new password:</label><br />
            @Html.Password("confirmPassword")
            @Html.ValidationMessage("confirmPassword")
        </p>
    <input type="submit" class="bigButton bigSave" value="Save" />
    <input type="button" value="Cancel" window.location.href ="@Url.Content("~/Account/MyAccount")" class="bigButton bigCancel" />
    </fieldset>
    </div> 
    }
  <div class="span-24 last"><div class="actions"> 
		<div class="clear">  
    </div>
</div></div>

